nav {
	position: fixed;
	padding: 10px 60px 10px 60px;
	background-color: grey;
	height: 80px;
	width: 100%;
}

nav img {
	position: absolute;
	left: 30px;
	display: inline-block;
	border: 1px solid black;
	border-radius: 50%;
	height: 80%;
	margin: auto 50px auto 50px;
}

nav ul {
	display: inline-block;
	position: absolute;
	left: 150px;
}

nav li {
	display: inline-block;
	border-right: 2px solid black;
	padding-right: 4px;
}